/* variables */
$font-base: 'Hiragino Maru Gothic Pro', 'ヒラギノ丸ゴ Pro W4', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$font-gothic: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$font-gothic-bold: 'Hiragino Kaku Gothic StdN', 'ヒラギノ角ゴ StdN', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$primary-color: #FFDC00;
$secondary-color: #E74400;
$bgcolor-light: #FAF9F4;
$bgcolor-dark: #ECECEC;
$link-color: #12A738;

/* reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
h3 {
  font-weight: normal;
}

li {
  list-style-type: none;
}

/* main */
html,body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-base;
  font-size: 1.4em;
}

a {
  color: $link-color;
}

header {
  background-color: $primary-color;
  padding: 15px;
  &::before {
    content: '';
    background: no-repeat center/128px url(/src/img/portlait_mobile@2x.png);
    display: block;
    height: 128px;
    margin-bottom: 15px;
  }
  // .portlait {
  //   background: no-repeat center/128px url(/src/img/portlait_mobile@2x.png);
  //   min-height: 128px;
  //   margin-bottom: 10px;
  // }
  h1 {
    font-family: $font-gothic;
    font-size: 1.8rem;
    // padding-top: 153px;
    margin-bottom: 15px;
    text-align: center;
    .profession {
      display: block;
      margin-bottom: 5px;
    }
    .name {
      color: $secondary-color;
      display: block;
      font-family: $font-gothic-bold;
    }
  }
  .biography {
    line-height: 1.3;
    width: 78%;
    margin: 0 auto;
  }
  .arrow {
    text-align: center;
    margin-top: 20px;
    // padding-bottom: 20px;
    img {
      width: 32px;
      height: auto;
    }
  }
}

@media screen and (min-width: 641px) {
  header {
    border-radius: 10px;
    margin: 25px 15px 15px;
    min-height: 300px;
    position: relative;
    &::before {
      background-image: url(/src/img/portlait@2x.png);
      background-size: contain;
      width: 348px;
      height: 330px;
      position: absolute;
      top: -20px;
    }
    .header-contents {
      margin-left: 348px;
    }
    h1 {
      margin-top: 30px;
      text-align: left;
    }
    .biography {
      width: 100%;
    }
    .arrow {
      margin-top: 60px;
    }
  }
}

nav {
  display: none;
}

.area {
  background-color: $bgcolor-light;
  padding: 15px;
  &:nth-child(even) {
    background-color: $bgcolor-dark;
  }
  h2 {
    font-family: $font-gothic;
    font-size: 2.2rem;
  }
  h3 {
    color: $secondary-color;
    font-size: 1.6rem;
    margin-top: 10px;
  }
  .txt {
    line-height: 1.3;
    margin-top: 5px;
  }
}

@media screen and (min-width: 641px) {
  .area {
    background-color: transparent;
    display: flex;
    margin: 0 15px 15px;
    padding: 0;
    // &:first-child {
    //   margin-top: 15px;
    // }
    &:nth-child(even) {
      background-color: transparent;
    }
    h2 {
      min-width: 11rem;
    }
    .area-contents {
      background-color: $bgcolor-light;
      border-radius: 10px;
      flex-grow: 2;
      padding: 10px 20px;
    }
  }
}

@media (min-width: 769px) {
  header,
  .area {
    width: 738px;
    margin-left: auto;
    margin-right: auto;
  }
}

.certification {
  background: no-repeat right 10px center/57px url(/src/img/certification@2x.png) $bgcolor-light;
  border-radius: 5px;
  color: #333;
  display: table;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 10px 0;
  min-height: 91px;
  padding: 10px 80px 10px 10px;
  p {
    display: table-cell;
    vertical-align: middle;
  }
}

@media screen and (min-width: 641px) {
  .certification {
    background-color: #fff;
  }
}

.contact {
  margin: 20px 0 70px;
}
@media screen and (min-width: 641px) {
  .contact {
    margin-bottom: 25px;
  }
}

.email-btn {
  text-decoration: none;
  button {
    background-color: $secondary-color;
    border-radius: 5px;
    box-shadow: 0 5px 0 #944038;
    color: #fff;
    display: block;
    font-size: 2rem;
    width: 267px;
    height: 65px;
    margin: 0 auto;
    &:active {
      position: relative;
      top: 3px; /* 3px drop */
      box-shadow: 0 0 0 #944038; /* less by 3px (to zero) */
    }
    i {
      margin-right: 5px;
    }
  }
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.sns {
  display: flex;
  li {
    align-items: center;
    background: #222;
    flex-grow: 1;
    &:nth-child(even) {
      background: #333;
    }
    a {
      display: block;
      padding: 14px 0;
    }
  }
  i {
    color: #fff;
    font-size: 2rem;
    width: 4rem;
  }
}

@media screen and (min-width: 992px) {
  .sns {
    justify-content: center;
    padding-top: 15px;
    li {
      background: transparent;
      flex-grow: 0;
      &:nth-child(even) {
        background: transparent;
      }
      a {
        padding: 0
      }
    }
  }
}

.copyright {
  font-size: 1.2rem;
  padding: 15px 0;
}

.to_pagetop {
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(10, 10, 10, .5);
}
@media screen and (min-width: 641px) {
  .to_pagetop {
    bottom: 105px;
  }
}
