@charset "UTF-8";
/* variables */
/* reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

h3 {
  font-weight: normal;
}

li {
  list-style-type: none;
}

/* main */
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 1.4em;
}

a {
  color: #12A738;
}

header {
  background-color: #FFDC00;
  padding: 15px;
}
header::before {
  content: '';
  background: no-repeat center/128px url(/src/img/portlait_mobile@2x.png);
  display: block;
  height: 128px;
  margin-bottom: 15px;
}
header h1 {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}
header h1 .profession {
  display: block;
  margin-bottom: 5px;
}
header h1 .name {
  color: #E74400;
  display: block;
  font-family: "Hiragino Kaku Gothic StdN", "ヒラギノ角ゴ StdN", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}
header .biography {
  line-height: 1.3;
  width: 78%;
  margin: 0 auto;
}
header .arrow {
  text-align: center;
  margin-top: 20px;
}
header .arrow img {
  width: 32px;
  height: auto;
}

@media screen and (min-width: 641px) {
  header {
    border-radius: 10px;
    margin: 25px 15px 15px;
    min-height: 300px;
    position: relative;
  }
  header::before {
    background-image: url(/src/img/portlait@2x.png);
    background-size: contain;
    width: 348px;
    height: 330px;
    position: absolute;
    top: -20px;
  }
  header .header-contents {
    margin-left: 348px;
  }
  header h1 {
    margin-top: 30px;
    text-align: left;
  }
  header .biography {
    width: 100%;
  }
  header .arrow {
    margin-top: 60px;
  }
}
nav {
  display: none;
}

.area {
  background-color: #FAF9F4;
  padding: 15px;
}
.area:nth-child(even) {
  background-color: #ECECEC;
}
.area h2 {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 2.2rem;
}
.area h3 {
  color: #E74400;
  font-size: 1.6rem;
  margin-top: 10px;
}
.area .txt {
  line-height: 1.3;
  margin-top: 5px;
}

@media screen and (min-width: 641px) {
  .area {
    background-color: transparent;
    display: flex;
    margin: 0 15px 15px;
    padding: 0;
  }
  .area:nth-child(even) {
    background-color: transparent;
  }
  .area h2 {
    min-width: 11rem;
  }
  .area .area-contents {
    background-color: #FAF9F4;
    border-radius: 10px;
    flex-grow: 2;
    padding: 10px 20px;
  }
}
@media (min-width: 769px) {
  header,
  .area {
    width: 738px;
    margin-left: auto;
    margin-right: auto;
  }
}
.certification {
  background: no-repeat right 10px center/57px url(/src/img/certification@2x.png) #FAF9F4;
  border-radius: 5px;
  color: #333;
  display: table;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 10px 0;
  min-height: 91px;
  padding: 10px 80px 10px 10px;
}
.certification p {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (min-width: 641px) {
  .certification {
    background-color: #fff;
  }
}
.contact {
  margin: 20px 0 25px;
}

.email-btn {
  text-decoration: none;
}
.email-btn button {
  background-color: #E74400;
  border-radius: 5px;
  box-shadow: 0 5px 0 #944038;
  color: #fff;
  display: block;
  font-size: 2rem;
  width: 267px;
  height: 65px;
  margin: 0 auto;
}
.email-btn button:active {
  position: relative;
  top: 3px;
  /* 3px drop */
  box-shadow: 0 0 0 #944038;
  /* less by 3px (to zero) */
}
.email-btn button svg {
  margin-right: 5px;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.sns {
  display: flex;
}
.sns li {
  align-items: center;
  background: #222;
  flex-grow: 1;
}
.sns li:nth-child(even) {
  background: #333;
}
.sns li a {
  color: #fff;
  display: block;
  font-size: 2rem;
  padding: 14px 0;
}
.sns i {
  color: #fff;
  font-size: 2rem;
  width: 4rem;
}

@media screen and (min-width: 992px) {
  .sns {
    justify-content: center;
    padding-top: 15px;
  }
  .sns li {
    background: transparent;
    flex-grow: 0;
    width: 3rem;
  }
  .sns li:nth-child(even) {
    background: transparent;
  }
  .sns li a {
    font-size: 1.6rem;
    padding: 0;
  }
}
.copyright {
  font-size: 1.2rem;
  padding: 15px 0;
}

.to_pagetop {
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(10, 10, 10, 0.5);
}

@media screen and (min-width: 641px) {
  .to_pagetop {
    bottom: 105px;
  }
}
